<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="file:///C:\Users\abhinav\Desktop\Abhinav\BANG_ON_Trends\Templates/Style.css">
	<title>B.O.T.S (ANYTHING,ANYWHERE,ANYTIME)BANG ON TRENDS</title>
</head>
<body>
    <h1>HOME PAGE</h1>
    <nav>
        <a href="{{ url_for('home') }}">HOME</a> |
        <a href="{{ url_for('about') }}">ABOUT</a> |
        <a href="{{ url_for('BI') }}">POWER BI</a>
    </nav>
    <p> "We specialize in  ATTTIRE, ACCESSORY & ASSURANCE"</p>
      <p>      "!"</p>
</body>
</html>